name: CI - Redis Pub Sub Project

on:
  push:
    branches: [main]
  pull_request:
    branches: ["**"]

jobs:
  terraform:
    runs-on: ubuntu-latest
  
    defaults:
      run:
        working-directory: iac

    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terrafomr fmt
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init

      - name: Terraform validate
        run: terraform validate

  go:
    name: Go Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25
      
      - name: Cache go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Go fmt check
        run: go fmt ./...

      - name: Go vet
        run: go vet ./...

      - name: Run Go tests
        run: go test ./... -v -race

